<div class="projectarea container"
     id="app-analyze-things"
     v-if="area.key === 'analyze-things'">
  <tm-sidebar>
    <h2>{{ml.get('9Qjre1gJrVQw75hq')}}</h2>
    <div class="block">
      <h3 v-if="viewModel.categories.length > 1">{{ml.get('IUCvCnLhlpz5qVBx')}}</h3>
      <ul v-if="viewModel.categories.length > 1" class="tm-buttons">
        <li v-for="category in viewModel.categories" v-colors-hover="category.colors" @click="viewModel.category = category">
          <input type="radio" :value="category" v-model="viewModel.category"> {{category.plural}}
        </li>
      </ul>
    </div>
    <div class="block">
      <ul v-if="viewModel.category.propertyKeys.length > 1" class="tm-buttons">
        <li v-for="propertyKey in viewModel.category.propertyKeys" @click="viewModel.propertyKeyToAnalyze = propertyKey">
          <input type="radio" :value="propertyKey" v-model="viewModel.propertyKeyToAnalyze"> {{propertyKey.name}}
        </li>
      </ul>
    </div>
  </tm-sidebar>
  <tm-main-area>
    <h1>
      <tm-editable type="text"
                   :content="viewModel.projectName"
                   :callback="val => viewModel.projectName = val"></tm-editable>
    </h1>
    <div>
      <card-analyze-things-text :summary="viewModel.cardSummary"
                                v-colors="viewModel.cardColors"
                                :analyzedcategory="viewModel.analyzedCategoryResult"
                                v-if="viewModel.analyzeCardToShow === 'text'">
      </card-analyze-things-text>
      <card-analyze-things-checkbox :summary="viewModel.cardSummary"
                                    v-colors="viewModel.cardColors"
                                    :analyzedcategory="viewModel.analyzedCategoryResult"
                                    v-if="viewModel.analyzeCardToShow === 'checkbox'">
      </card-analyze-things-checkbox>
      <!-- TODO <card-analyze-things-date -->
      <!-- TODO <card-analyze-things-color -->
    </div>
  </tm-main-area>
</div>
<script src="analyze-things/AnalyzeUtil.js"></script>
<script src="analyze-things/AnalyzeStrategy.js"></script>
<script src="analyze-things/AnalyzeThingResult.js"></script>
<script src="analyze-things/AnalyzedCategoryResult.js"></script>
<script src="analyze-things/CategoryViewModel.js"></script>
<script src="analyze-things/ProjectViewModel.js"></script>
<script src="analyze-things/AnalyzeNumberStrategy.js"></script>
<script src="analyze-things/AnalyzeRangeStrategy.js"></script>
<script src="analyze-things/AnalyzeTextStrategy.js"></script>
<script src="analyze-things/AnalyzeCheckboxStrategy.js"></script>
<script src="analyze-things/card-analyze-things-text.js"></script>
<script src="analyze-things/card-analyze-things-checkbox.js"></script>
<script src="analyze-things/analyze-things.js"></script>

