#app-analyze-things {
  .sidebar {
    li {
      border-top: 1px solid darkslategray;
      width: 100%;
      cursor: pointer;
    }
    li:last-child {
      border-bottom: 1px solid darkslategray;
    }
    input[type=radio] {
      margin: 5px 0 0 5px;
    }
  }
  .card {
    tfoot {
      tr:nth-child(1) td {
        border-top-width: 2px;
      }
      * {
        font-weight: bold !important;
      }
    }
    &.card-color {
      tbody td {
        width: 50%;
      }
    }
  }
}