<div id="enlarged-photo" v-if="photo" class="enlarged">
  <p class="controls">
    <tm-button icon="trash" @click="deletePhoto" v-if="isDeletable">{{ml.get('jnc+4xJEiV6quv31')}}</tm-button>
    <tm-button icon="remove" @click="close">{{ml.get('ITgBInv9wE3Kg7HV')}}</tm-button>
  </p>
  <p class="text">
    <tm-editable :content="description" :callback="val => finalizePhotoDescription(val)"></tm-editable>
  </p>
  <p class="image">
    <img :src="photo.internFileName" :width="width" :height="height">
  </p>
</div>