#enlarged-photo {
   z-index: 1000;
  .content {
    text-align: center;
    > * {
      display: inline-block;
      box-shadow: 0 0 10px black, 0 0 30px black;
    }
    table.card {
      width:90%;
    }
  }
 }