#app-manage-categories {
  .card {
    td {
      width: 50%;
      vertical-align: top;
    }
    &.readonly {
      .buttons {
        visibility: hidden;
      }
      &:hover .buttons {
        visibility: visible;
      }
    }
  }
  .sortables {
    -webkit-user-select: none;
    cursor: all-scroll;
    p {
      margin: 2px 5px;
      &:before {
        content: "- "
      }
    }
  }
}