<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap-css-only/css/bootstrap.min.css">
  <link rel="stylesheet/less" type="text/css" href="styles.less"/>
  <link rel="stylesheet/less" type="text/css" href="analyze-things/styles.less"/>
  <link rel="stylesheet/less" type="text/css" href="add-first-thing/styles.less"/>
  <link rel="stylesheet/less" type="text/css" href="add-new-thing/styles.less"/>
  <link rel="stylesheet/less" type="text/css" href="manage-categories/styles.less"/>
  <link rel="stylesheet/less" type="text/css" href="manage-things/styles.less"/>
  <!-- Run npm run config-vue-devtools and uncomment -->
  <!-- FIXME does not work when putting html to index.html via document.write -->
  <!--<script src="http://localhost:8098"></script>-->
</head>
<body id="body" :class="project.currentProjectAreaKey">

<!-- XXX make vue components of it -->
<script>document.write(nodeGetFileContent('add-first-thing/add-first-thing.html'));</script>
<script>document.write(nodeGetFileContent('manage-categories/manage-categories.html'));</script>
<script>document.write(nodeGetFileContent('manage-things/manage-things.html'));</script>
<script>document.write(nodeGetFileContent('add-new-thing/add-new-thing.html'));</script>
<script>document.write(nodeGetFileContent('analyze-things/analyze-things.html'));</script>
<script>document.write(nodeGetFileContent('credits/credits.html'));</script>
<script>document.write(nodeGetFileContent('help/help.html'));</script>
<div id="watch-app"></div>
<!-- TODO load like others -->
<div id="enlarged-photo" v-if="photo">
  <p class="controls">
    <!-- TODO multi-language -->
    <tm-button icon="trash" @click="deletePhoto" v-if="isDeletable">Delete</tm-button>
    <tm-button icon="remove" @click="close">Close</tm-button>
  </p>
  <p class="image">
    <img :src="photo.internFileName" :width="width" :height="height">
  </p>
</div>

<!-- 3rd parties -->
<script src="../../node_modules/moment/min/moment-with-locales.min.js"></script>
<!-- TODO do it with import -->
<script src="../../node_modules/vue-star-rating/dist/star-rating.min.js"></script>
<script>var less = {logLevel: 0, async: true, fileAsync: true};</script>
<script src="../../node_modules/less/dist/less.js"></script>

<!-- begin config -->
<script type="module" src="config/enhance-javascript.js"></script>
<script type="module" src="config/begin-config.js"></script>

<!-- content -->
<script type="module" src="config/title.js"></script>
<script type="module" src="add-first-thing/add-first-thing.js"></script>
<script type="module" src="add-new-thing/add-new-thing.js"></script>
<script type="module" src="analyze-things/analyze-things.js"></script>
<script type="module" src="credits/credits.js"></script>
<script type="module" src="help/help.js"></script>
<script type="module" src="manage-categories/manage-categories.js"></script>
<script type="module" src="manage-things/manage-things.js"></script>

<!-- end config -->
<script type="module" src="config/end-config.js"></script>
</body>
</html>
